<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="containner">
        <a routerLink="/" class="navbar-brand">Cadastrar</a>
        <button class="navbar-toggler" type="button" date-toggle="collapse" date-target="navbarSupportedContent">
            <span class=""navbar-toggler-icon></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ar-auto">
            <li class="nav-item">
                <a routerLink="/" class="nav-link">USER</a>
            </li>
        </ul>
      </div>
    </div>
</nav>