<div class="card w-100 my-5">
    <div class="card-body">
        <h1 class="card-title text-center">Acompanhamento de Envio</h1>
    </div>
    <div class="row my-4">
        <div class="col-6">
            <label for="filial" class="col-sm-2 col-form-label">Filial</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" id="filial" placeholder="Matriz">
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-6">
            <label for="quantidade" class="col-sm-2 col-form-label">Quantidade</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="quantidade">
            </div>
        </div>

    </div>
    <div class="row my-4">
        <div class="col-6">
            <label for="equipamento" class="col-sm-2 col-form-label">Equipamento</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" id="equipamento" placeholder="Teclado">
            </div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col-6">
            <label for="identificacao" class="col-sm-2 col-form-label">Identificação</label>
            <div class="col-sm-10">
                <input type="text" class="form-control-plaintext" id="identficacao" >
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-6">
            <label for="dataEnvio" class="col-sm-2 col-form-label">Data de Envio</label>
            <div class="col-sm-10">
                <input type="date" class="form-control-plaintext" id="dataEnvio">
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="form-group col-12 mt-4">
            <button type="button" class="btn btn-outline-danger float-start">Cancelar</button>
            <button type="button" class="btn btn-outline-success float-end">Enviar</button>
        </div>
    </div>
    


</div>